name: build

on:
  - workflow_dispatch
  - push

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    services:
      pebble:
        image: ghcr.io/letsencrypt/pebble:latest
        ports:
          - 14000:14000
          - 15000:15000
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - name: Run Build
        run: make check
      - name: Run SonarQube
        uses: SonarSource/sonarqube-scan-action@v6
